[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
qrcode = {extras = ["pil"], version = "==7.4.2"}
gunicorn = "==22.0.0"
lxml = "==5.2.2"

[dev-packages]

[requires]
python_version = "3.12"
